<%- include('partials/header') %>
<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ut recusandae repellat beatae aut hic eum amet suscipit, repellendus perferendis cupiditate error sit accusamus saepe minus corrupti fugiat officiis repudiandae rem voluptatibus deserunt iste neque nulla tempora! Eligendi nam omnis dolore? Ratione, error maiores eaque a voluptatum labore dolores doloremque beatae cumque commodi enim dolore possimus nihil! Eligendi eaque, qui repellendus commodi et necessitatibus dolores voluptatum nobis provident aut adipisci veritatis sit doloribus maiores, earum distinctio facilis corrupti quae sint ex? Beatae aliquam, officia velit nihil quia fuga placeat dolores nam, consectetur sapiente cumque eveniet fugit perferendis error ea molestias?</p>
<%- include('partials/footer') %>
